<div class="widget ct-widget--recentlyReduced">
    <div class="widget-inner">
        <h4 class="text-uppercase">Recently Reduced</h4>
        <div class="ct-itemProducts--small ct-itemProducts--small-type1">
            <a href="product-single.html">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                       <img src="assets/images/content/recently-reduced-thumbnail-1.jpg" alt="">
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            4079 Broad Falls, Turkeytown
                        </div>
                        <div class="ct-product--price">
                            <span class="ct-price--Old">$ 450,000</span>
                            <span>$ 390,000</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="ct-itemProducts--small ct-itemProducts--small-type1">
            <a href="product-single.html">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="assets/images/content/recently-reduced-thumbnail-2.jpg" alt="">
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            5469 Clear Rise, Little Otter
                        </div>
                        <div class="ct-product--price">
                            <span class="ct-price--Old">$ 450,000</span>
                            <span>$ 390,000</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="ct-itemProducts--small ct-itemProducts--small-type1">
            <a href="product-single.html">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="assets/images/content/recently-reduced-thumbnail-3.jpg" alt="">
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            4770 Cotton Berry Point, Carrot River
                        </div>
                        <div class="ct-product--price">
                            <span class="ct-price--Old">$ 450,000</span>
                            <span>$ 390,000</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <a class="btn btn-primary btn-transparent--border ct-u-text--motive" href="properties.html">View More Reduced Properties</a>
    </div>
</div>