<div class="widget ct-widget--calculator">
    <div class="widget-inner">
        <h4 class="text-uppercase">Calculator</h4>
        <form role="form" class="ct-form--darkStyle">
            <div class="form-group">
                <div class="ct-form--label--type2">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="ct-input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-calculator"></i>
                                </button>
                            </div>
                        </div>
                        <div class="ct-u-displayTableCell text-center">
                            <span class="text-uppercase">Calculate Loan</span>
                        </div>
                    </div>
                </div>
                <div class="ct-form--item">
                    <label>Property Price ($)</label>
                    <input type="text" required class="form-control input-lg" placeholder="Any">
                </div>
                <div class="ct-form--item">
                    <label>Procent Down</label>
                    <input type="text" required class="form-control input-lg" placeholder="Any">
                </div>
                <div class="ct-form--item">
                    <label>Term (Years)</label>
                    <input type="text" required class="form-control input-lg" placeholder="Any">
                </div>
                <div class="ct-form--item">
                    <label>Interest Rate in %</label>
                    <input type="text" required class="form-control input-lg" placeholder="Any">
                </div>
                <div class="ct-form--item last">
                    <button type="submit" class="btn btn-warning">Calculate My Mortgage</button>
                </div>
            </div>
        </form>
    </div>
</div>