
    <header>
        <div class="ct-js-owl" data-items="1" data-navigation="true" data-autoPlay="true" data-lazyLoad="true" data-animations="true">
            <!-- <div class="item">
                <div class="ct-owl--background">
                    <img src="assets/images/content/header-slider-1.jpg" alt="">
                </div>
                <div class="ct-owl--description">
                    <div class="ct-owl--description--inner">
                        <div class="ct-owl--descriptionItem">
                            <div class="container">
                                <img class="ct-u-marginBottom20 animated" data-fx="fadeInDown" data-time="300" src="assets/images/content/logo-slider.png" alt="">
                                <h2 class="ct-u-marginBottom20 animated" data-fx="fadeInDown" data-time="300">Your <span>Real Estate</span> Partner</h2>
                                <a class="btn btn-default btn-transparent--border ct-u-text--white animated" data-fx="fadeInUp" data-time="300" href="blog-single.html">Read More</a>
                                <a class="btn btn-success ct-btn--green animated" data-fx="fadeInUp" data-time="300" href="submission.html">List Property</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ct-owl--background">
                    <img src="assets/images/content/header-slider-3.jpg" alt="">
                </div>
                <div class="ct-owl--description">
                    <div class="ct-owl--description--inner">
                        <div class="ct-owl--descriptionItem">
                            <div class="container">
                                <div class="ct-textHeader">
                                    <h1 class="text-capitalize ct-u-marginBottom30 animated" data-fx="fadeInDown">Our Agents Are At Your Service</h1>
                                    <a class="btn btn-success ct-btn--green animated" data-fx="fadeInLeft" href="submission.html">List Property</a>
                                    <a class="btn btn-default btn-transparent--border ct-u-text--white animated" data-fx="fadeInRight" href="agency.html">See Agents</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="item">
                <div class="ct-owl--background ct-mediaSection" data-height="540" data-type="video" data-bg-image-mobile="assets/images/content/header-slider-2.jpg">
                    <div class="ct-mediaSection-video embed-responsive embed-responsive-16by9">
                        <!--Video from https://vimeo.com/34741214, author: Studio Aiko, only used for showcase demo.-->
                        <!-- in order for video to be muted you must add  &amp;api=1&amp;player_id=vimeoplayer1 to the end of the video src
                            If you have more than one video, make sure that player_id and id have dif names on each video
                    -->
                        <video id="video1" muted loop autoplay="autoplay" preload="auto">
                            <source src='assets/video/showcase.mp4' type='video/mp4'/>
                            <source src='assets/video/showcase.webm' type='video/webm'/>
                        </video>
                    </div>
                </div>
                <div class="ct-owl--description">
                    <div class="ct-owl--description--inner">
                        <div class="ct-owl--descriptionItem">
                            <div class="container">
                                <div class="ct-textHeader ct-textHeader--Square animated" data-fx="zoomIn">
                                    <img src="assets/images/content/logo-sliderLight.png" alt="Logo">
                                    <h2 class="text-uppercase" data-fx="fadeInUp">A great Place to be</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
